.comm__banner{
    max-width: 100%;
    // background-image: url(${props.backgroundImage});
    mask-image: linear-gradient(to bottom, white 0%, white 10%, white 50%, transparent 100%);
    display: block;
    position: relative;
    z-index: 0;
    width: 100%;
    min-height: 250px;
    background-color: #fff;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}